In [78]:
#Import library
import os
import csv

In [79]:
# Import Dependencies
import pandas as pd

In [80]:
# Set path to collect data
path = os.path.join("DataShopify.csv")

In [81]:
# Import the data set as a DataFrame
df = pd.read_csv(path)
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [82]:
# Question 2: What metric would you report for this dataset?

# Reporting metrics: 

# Order Amount 
# Total Items

In [83]:
# To determine Average Order Value (AOV)

# First determine sums of both 'order_amount' and 'total_items'
OAmt = df.order_amount.sum()
Titem = df.total_items.sum()
print(OAmt)
print(Titem)

15725640
43936

In [84]:
# Then calculate average by dividing the total order amount (oa_sum) by the total items amount (ti_sum)
AOV = OAmt/Titem
print(AOV)

357.92152221412965

In [85]:
# Print Average Order Value (AOV) with only 2 decimal places and the dollar sign
print("%.2f" % AOV)

357.92

In [86]:
# Print correct explanation with $
'${:,.2f}'.format(AOV)

'$357.92'

In [87]:
# Incorrect calculation explained as a mistaken count() instead of sum() function
OAmt = df.order_amount.sum()
Totem = df.total_items.count()
AOVa = OAmt/Totem
print(AOVa)

3145.128